version: '3.8'

services:
  web:
    build:
      context: .
      target: production
    container_name: epic_nigeria_web
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: epic_nigeria_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
  media_volume: